{{> header }}

{{> jumbotron }}

<div class="card">
  <div class="card-body">
    <p>{{ response.todayForecast }}</p>
    <canvas 
      id="baroChart" 
      style="max-height: 300px",
      aria-label="Barometric Line Chart" 
      role="img"></canvas>
  </div>
  <div class="card-footer">
    <a href="https://darksky.net/poweredby/" class="float-right">Powered by Dark Sky</a>
  </div>
</div>

<script async src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
<script>
  // pass template variables to global here
  const resultsData = {{{ json response }}};
</script>
<script async src="scripts/results.js"></script>

{{> footer }}